name: Check bit-perfectness

# Controls when the workflow will run
on:
  push:
    branches:
    - main

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: windows-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # I probably could've rigged up an actual Powershell script but this works.
      - name: Assemble then check if it's bit-perfect
        run: .\chkbitperfect.bat